# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

## Author
Caleb Sansom

*Objectives:
- Show understanding of how to create a table
- Implement simple arithmetic coding
- Make comments in code cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Plotly

|Data Science Tools|
-
|MySQL|
|NoSQL|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This is a simple arithmetic expression to multiple then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335